body {
    font-family: 'Lato', sans-serif;
    color: #747704;
    font-weight: 300;
    background-color: #2098d1;
}

.navbar-default .navbar-nav li a {
    color: #fff;
}

/* .navbar-left {
    float: right!important;
    }*/

.container-fluid {
    background-color: #2098d1;
}

.text-muted {
    color: black;
}

.text-thin {
    font-weight: 100;
}

.title-super {
    font-size: 60px;
}

.title-logo {
    margin-top: 20px;
    max-width: 150px;
}

.new-zealand {
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}

.navbar-nav {
    float: left;
    margin: 0;
    /*Below is how I've centered the menu. How can I do this so it's more responsive friendly?*/
    margin-left: 600px;
}

.project-link {
    color: black;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

@media only screen and (max-width: 500px) {
    h1 {
        text-align: center;
    }

@    media only screen and (max-width: 500px) {
        h2 {
    text-align: center;
    }

@    media only screen and (max-width: 500px) {
        h3 {
    text-align: center;
    }